.container {
  min-height: 100vh;
  background: #eee;
  padding: 2rem;
}

.button-content {
  min-height: 100px;
  display: flex;
  align-items: flex-end;
}

.search-container {
  margin-bottom: 2rem;
}

.search-container h1 {
  margin-bottom: 2rem;
}
